*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.screen{
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 3fr 8fr 2fr 2fr; 
    grid-template-areas: 
    "header-menu"
    "buscador"
    "grilla-autos"
    "paginador"
    "pie-pagina";
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2057a8;
    grid-area: header-menu;
    color: white;
    
}

.car-logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.text-logo{
    padding: 10px;
}

section{
    padding: 20px;
    background-color: #949494;
    grid-area: buscador;
    color: black;
}

main{
    padding: 20px;
    background-color: #FFFFFF;
    grid-area: grilla-autos;
    color: black;
}

article{
    padding: 20px;
    background-color: #bd3232;
    grid-area: paginador;
    color: black;
}

footer{
    padding: 20px;
    background-color: #7332bd;
    grid-area: pie-pagina;
    color: black;
}

@media(min-width:992px){
    .screen{
        grid-template-areas: 
            "header-menu buscador"
            "header-menu grilla-autos"
            "header-menu grilla-autos"
            "header-menu grilla-autos"
            "pie-pagina paginador";
        
        grid-template-columns: 2fr 10fr;
    }
    
    .bars-logo{
        display: none;
    }
}